@import "../../styles/variables";

.form-container {
	position: relative;
	top: 14vh;
	height: 90vh;
	width: 100vw;
	h2 {
		background-color: #555;
		color: white;
		font-size: 2.8rem;
		padding: 1rem 2rem;
		margin-bottom: 1rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.form-container {
		top: 12vh;
		h2 {
			font-size: 4rem;
		}
	}
}

@media screen and (min-width: 1024px) {
	.form-container {
		height: 70vh;
		top: 12vh;
		h2 {
			font-size: 4rem;
			margin: 0;
			text-align: center;
		}
	}
}

