@import "../../styles/variables";

.infobar {
	text-align: left;
	padding: 1rem 0;
	.infobar__info {
		font-size: 3rem;
		font-weight: 800;
	}
	&.invisible {
		filter: blur(8px);
	}
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
	.infobar {
		.infobar__info {
			font-size: 8rem;
		}
	}
}

@media screen and (min-width: 1025px) {
	.infobar {
		.infobar__info {
			display: none;
		}
	}
}


