@import "../../styles/variables";

.infobar {
	align-self: flex-start;
	padding: 2rem 0;
	.infobar__info {
		text-align: left;
		font-size: 5rem;
		font-weight: 800;
	}
	&.invisible {
		filter: blur(8px);
	}
}

// naprawić style
