@import "../../styles/variables";

.pic__container {
	height: 55vh;
	width: 80vw;
	margin-top: 8rem;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&.invisible {
		filter: blur(8px);
	}
}

.no-dogs {
	height: 5vh;
	width: 30rem;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 5rem;
	font-size: 3rem;
	padding: 2rem;
	position: absolute;
	margin: 30rem auto;
	text-align: center;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {

	.pic__container {
		height: 55vh;
		width: 90vw;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
	.pic__container {
		height: 55vh;
		width: 50vw;
	}
}
