@import "../../styles/variables";

.pic__container {
	height: 55vh;
	width: 35rem;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&.invisible {
		filter: blur(8px);
	}
}
