@import "../../styles/variables";

.info-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 90vw;
	height: 80vh;
	border-radius: 20px;
	position: fixed;
	top: 15%;
	box-shadow: 0 0 50px 6px rgba(0,0,0,0.17);
	background-color: #dddddd79;
	z-index: 3;
	.dog-picture {
		display: none;
	}
	h2 {
		font-size: 3rem;
		font-weight: 800;
		padding: 2rem;
	}
	.info-panel__icons {
		display: flex;
		margin: 0 auto;
		justify-content: space-evenly;
		align-items: center;
		i {
			font-size: 6rem;
			padding: 0 2rem;
			&.fa-envelope-o {
				color: #DCA71C;
			}
			&.fa-times {
				color: brown;
			}
		}
	}
}

.hidden {
	display: none;
}

@media screen and (max-width: 480px) {

	.info-panel {
		h2 {
		}
		.info-panel__icons {
			i {
				font-size: 7rem;
				padding: 0 2rem;
			}
		}
	}
}

@media screen and (min-width: 480px) and (max-width: 1024px) {

	.info-panel {
		h2 {
			font-size: 7rem;
		}
		.info-panel__icons {
			i {
				font-size: 15rem;
				padding: 0 2rem;
				margin: 2rem 0;
			}
		}
	}
}

@media screen and (min-width: 1025px) {
	.info-panel.hidden {
		height: 80vh;
		top: 11rem;
		position: relative;
		display: flex;
		width: 50%;
		h2 {
			font-size: 6rem;
		}
		.info-panel__icons {
			margin: 1rem 0;
			display: flex;
			align-items: center;
			justify-content: center;
			.fa-times {
				display: none;
			}
			a {
				text-decoration: none;
				i {
					position: relative;
					align-self: center;
					font-size: 6rem;
					&.fa-envelope-o {
						display: flex;
						align-items: center;
						&::after {
							display: inline-block;
							content: "Send an e-mail to animal shelter!";
							position: relative;
							width: 28rem;
							font-family: $main-font;
							font-size: 3.5rem;
							padding: 0 2rem;
							margin-bottom: 1rem;
						}
					}

					&:hover {
						cursor: pointer;
						transform: scale(1.1);
					}


				}
			}
		}
	}

	.info-panel.high-resolution {
		position: fixed;
		width: 90vw;
		height: 80vh;
		padding: 1rem 0;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		.dog-picture {
			display: block;
			height: 80%;
			width: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 25px;
			margin-left: 2rem;
		}
		h2 {
			font-size: 6rem;
		}
		.info-panel__icons {
			flex-direction: column;
			margin: 0;
			i {
				font-size: 10rem;
				cursor: pointer;
			}
			i.fa-envelope-o:hover {
				transform: scale(1.2);
			}
			i.fa-times:hover {
				transform: scale(1.2);
			}
		}
	}
}
