@import "../../styles/variables";

.info-panel {
	display: flex;
	flex-direction: column;
	width: 90vw;
	border-radius: 20px;
	position: absolute;
	top: 12%;
	box-shadow: 0 0 50px 6px rgba(0,0,0,0.17);
	background-color: #dddddd79;
	h2 {
		font-size: 3rem;
		font-weight: 800;
		padding: 2rem;
	}
	.info-panel__icons {
		display: flex;
		margin: 0 auto;
		justify-content: space-evenly;
		align-items: center;
		i {
			font-size: 7rem;
			padding: 0 2rem;
			&.fa-phone {
				color: seagreen;
			}
			&.fa-times {
				color: brown;
			}
		}
	}
}

.hidden {
	display: none;
}

@media screen and (max-width: 480px) {

	.info-panel {
		h2 {
		}
		.info-panel__icons {
			i {
				font-size: 7rem;
				padding: 0 2rem;
			}
		}
	}
}

@media screen and (min-width: 480px) and (max-width: 1024px) {

	.info-panel {
		h2 {
			font-size: 7rem;
		}
		.info-panel__icons {
			i {
				font-size: 15rem;
				padding: 0 2rem;
				margin: 2rem 0;
			}
		}
	}
}
