@import "../../styles/variables";


header {
	width: 100vw;
	height: 10%;
	background-color: $secondary-color;
	box-shadow: 0 0 23px 0 rgba(125,125,125,1);
}

.menu {
	background-color: $secondary-color;
	li {
		padding: 3rem 4rem 2rem;
		&:hover {
			transform: scale(1.1);
		}
		&:focus {
			outline: none;
		}
		a {
			font-size: 3rem;
			text-decoration: none;
			color: $bg-color;
		}
	}
}
nav {
	.bm-burger-button {
		position: absolute;
		width: 3.6rem;
		height: 3rem;
		left: 2.5rem;
		top: 2rem;
	}

	.bm-burger-bars {
		background: $bg-color;
	}

	.bm-burger-bars-hover {
		background: #a90000;
	}

	.bm-cross-button {
		height: 2.4rem;
		width: 2.4rem;
	}

	.bm-cross {
		background: #bdc3c7;
	}
}

.logo {
	position: absolute;
	top: 1%;
	right: 0;
	padding: 1rem 2.5rem;
	display: flex;
	align-items: center;
	color: $bg-color;
	font-size: 4rem;
	span {
		font-family: $logo-font;
	}
}
