.fav-panel {
	i {
		font-size: 8rem;
		padding: 0 2rem;
		transition: .2s;
		&.fa-times {
			font-size: 9rem;
			&:hover {
				transform: scale(.8);
				cursor: pointer;
			}
		}
		&.fa-info {
			color: cornflowerblue;
			&:hover {
				transform: scale(1.1);
				cursor: pointer;
			}

		}
		&.fa-heart {
			color: coral;
			&:hover {
				transform: scale(1.2);
				cursor: pointer;
			}
		}
	}
	&.invisible {
		filter: blur(8px);
	}
}
